body{
  font-family: 'Nunito', sans-serif;
  background-color: #f5d9df;
}
.blab h2 {
  color:#ea1c2c;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.5rem;
}
.blab p{
  color:#f496b8;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 2;
}
.content{
  margin-top:100px;
}
.navbar.scrolled{
  background-color: rgba(222,192,222,0.8);
  transition: background 300ms;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
}
#mainNavbar .navbar-brand {
  color: #ea1c2c;

}
#mainNavbar .nav-link {
  color:white;
}
#mainNavbar .nav-link:hover{
  color:#ea1c2c;
}
#headingGroup h1{
  text-transform: uppercase;
  font-weight: 200;
  font-size: 4rem;
}
#headingGroup span{
  color:#ea1c2c;
}

@media (max-width:1200px){
  #headingGroup h1{
    font-size: 3rem;
  }
}